{% extends 'base.html' %}

{% block body %}

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <hr>

      <div class="row">
        <div class="input-box">
          <form action="/upload-pdf" method="POST" enctype="multipart/form-data">
            <div>
              <input oninput="filesize(this);"
              type="file"
              name="pdf_up"
              id="pdf_up"
              placeholder="Select file (.txt or .pdf)">
            </div>
        </div>
       </div>

      <br>

      <div class="row">
        <div class="input-box">
          <button onclick="loading();" type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
        </div>
      </div>

      </form>
      <br>

      <br>

      {% if filename is defined %}
        <h3><span class="blue-primary">Filename: </span>{{ filename }}</h3>
      {% endif %}

      {% if nscs is defined %}
        {% include 'nscs.html' %}
      {% endif %}

      {% if wp is defined %}
        {% include 'taxon_names.html' %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
